.bottom_navActions{width: 1200px; height: 105px; margin: 0 auto;}
.bottom_navActions>div:nth-child(1){width: 100%; height: 100px; position: relative;}
.img_logoPretgo{width: 27%; height: 100%; clear: both; float: left; background: url('../images/assets.png') 10px 456px;}
.ls_navList{width: 70%; float: right; height: 100%;}
.ls_navList>li{list-style: none; padding: 14px; display: inline-block; margin-top: 30px;margin-left: -10px;}
.ls_navList>li>a{text-decoration: none; color: rgb(156, 156, 156); font-family: 'Titillium Web', sans-serif; font-size: 15px; margin-left: 10px;}
.ls_navList>li>a:hover{color:rgb(55, 111, 255);}
.slider_navActions{width: 100%; border-top:1px solid rgb(243, 243, 243); position:relative;height: 420px; background: url('../images/banner.jpg'); background-size: 100% 100%;}
.steeps_home{width: 1200px; height: 200px; margin: 0 auto;}
.steeps_home>div{width: 24%; height: 100%; float: left; margin: 5px;}
.steeps_home>div:hover{cursor:default;}
.steep_icon{-webkit-transition:all 1s;}
.steeps_home>div:nth-child(1):hover .steep_icon{background: url('../images/assets_hover.png') 7px  253px; background-color: #EFEFEF;}
.steeps_home>div:nth-child(2):hover .steep_icon{background: url('../images/assets_hover.png') 7px  175px; background-color: #EFEFEF;}
.steeps_home>div:nth-child(3):hover .steep_icon{background: url('../images/assets_hover.png') 7px  344px; background-color: #EFEFEF;}
.steeps_home>div:nth-child(4):hover .steep_icon{background: url('../images/assets_hover.png') 7px  87px; background-color: #EFEFEF;}
.steeps_home .steep_icon{width: 26%; height: 75px; border-radius: 50%; background-color: #EFEFEF; margin: 20px auto;}
.steep_icon>img{width:100%;height:100%;}
.steeps_home>div>h3{text-align: center; font-size: 15px; font-family: 'Open Sans', sans-serif; color: #191b1f;}
.steeps_home>div>p{text-align: center; font-size: 13px; padding: 10px; font-family: 'Open Sans', sans-serif; color:#93959d;margin: 0 auto; width: 230px;}
.comment_home{width: 100%; height: 430px; background: #F8F9FB; clear: both; margin-top: 60px;}
.main_commentHome{width: 940px; margin: 0 auto; height: 100%;}
.video_comment{width: 500px; height: 100%; background: url('../images/video.png'); float: left; background-size: 100%; background-repeat: no-repeat; background-position: 0px 50px;}
.comment_section{height: 100px;}
.comment_section:nth-child(3){margin-top: 40px;}
.main_commentHome>div:nth-child(2){width: 400px; height: 100%; float: right;}
.span-video{color: #138AD6;}
.main_commentHome>div:nth-child(2) h2{width: 390px; background: url('../images/titles.png'); height: 110px; right: 160px; bottom: 90px; background-position: 10px 50px; background-repeat: no-repeat;}
.main_commentHome>div:nth-child(2) p{padding: 10px 0 0;color:#9E9FA2;font-family: 'Open Sans', sans-serif;}
.comment_section>div:nth-child(1){width: 20%; height: 100%; float: left;}
.comment_section>div:nth-child(2){float: right; width: 300px; font-size: 12px; text-align: justify; padding: 10px;}
.comment_section>div:nth-child(2) h3{font-family: 'Open Sans', sans-serif; color: rgb(20, 20, 20);}
.comment_section img{width: 50px; height: 50px; position: relative; top: 10px; left: 25px; border-radius: 50%; background: #F0F0EE;}
.comment_section button{background: url('../images/assets.png'); width: 60px; background-position: -208px 294px; height: 30px; border: 1px solid #1ABC9C; font-family: 'Titillium Web', sans-serif; color: white; text-transform: uppercase; font-weight: 400; font-size: 15px; letter-spacing: 1px; border-radius: 2px; margin: 10px 0;}
.project_home{width: 100%; height: 670px;}
.Hd_projectHome{margin: 30px auto;padding: 25px 0 0; width: 50%;text-align: center;}
.Hd_projectHome span{color: #B1B2B4; font-size: 15px;font-family: 'Open Sans', sans-serif;font-weight: 300;}
.Hd_projectHome h2{width: 350px; background: url('../images/titles_.png'); height: 40px; margin-left: 140px; background-position: 20px -60px; background-repeat: no-repeat;}
.articles_home{width: 100%; height: 280px;background:white;}
.parent_articles{width: 3600px; margin: 0 auto; height: 300px;position: relative;}
.slider_articlesParent{width: 1200px; height: 80%; float: left;}
.slider_articlesParent>div{width: 43%; height: 70; float: left; margin-top: 70px; margin-left: 110px;}
.slider_articlesParent>div:nth-child(1){}
.slider_articlesParent>div:nth-child(2){margin-left: 0px;}
.OverSliceArticles{width: 1200px; height: 100%; overflow: hidden; margin: 0 auto;}
.txt_Article{font-size: 14px; text-align: justify; width: 450px;}
.txt_Article h3{font-family: 'Titillium Web', sans-serif; color: rgb(88, 88, 88);}
.txt_Article>p{padding: 10px; color: #969799; font-size: 13px; font-family: 'Open Sans', sans-serif; line-height: 17px; letter-spacing: .4px;}
.txt_Article>button{width: 80px; padding: 4px; font-size: 13px;font-family: 'Open Sans', sans-serif; border: 1px solid #1ABC9C; background: #1ABC9C;color: white; border-radius: 2px;}
.img_lgArticle{width: 140px; height: 150px; float: left;}
.img_lgArticle img{width: 130px; height: 70px;}
.slider_articlesIndicator{width: 4%; height: 50px; margin: 0 auto; position: relative; top: -50px;}
.slider_articlesIndicator>li{list-style: none; display: inline-block;cursor:pointer; width: 10px; height: 10px; background: rgb(248, 248, 248); border-radius: 50%;}
.slider_articlesIndicator>li>img{border-radius:50%;height:20px;}
.active{background: #F1501A !important; border: none !import ant; padding: 1px;}
.stadistc_home{width: 100%; height: 350px;background:#F7F9FA;}
.stadistc_home>div:nth-child(1){width: 50%; float: left; height: 100%;}
.stadistc_home>div:nth-child(2){width: 50%; float: right; height: 100%; background: none;}
.stadistc_home>div:nth-child(2)>header{margin: 0 auto; padding: 25px 0 0; width: 50%; text-align: center;}
.stadistc_home>div:nth-child(2)>header h2{width: 350px; background: url('../images/titles.png'); height: 40px; right: 160px; bottom: 90px; background-position: 20px -60px; background-repeat: no-repeat;}
.header_stadistcLeft{margin: 0 auto;padding: 25px 0 0; width: 50%;text-align: center;}
.header_stadistcLeft h2{width: 270px; background: url('../images/titles.png'); height: 40px; right: 160px; bottom: 90px; background-position: 60px -120px; background-repeat: no-repeat;}
.header_stadistcLeft span{color: #B1B2B4; font-size: 15px;font-family: 'Open Sans', sans-serif;font-weight: 300;}
.line_separator{width: 50px; height: 1px;background: #F1501A; box-shadow: 0px 0px 40px #F1501A; position: relative; margin: 4px auto;}
.bottom_sliceStadisct{width: 350px; padding: 40px; float: lef;}
.overSlice{width:440px;height:160px;overflow:hidden;margin-left: 100px;}
.parentSliceSecond{width: 1600px; height: 170px;}
.slider_stadictIndicator{width:9%;height:30px;margin: 0 auto;}
.slider_stadictIndicator>li{list-style: none;display: inline-block; cursor:pointer;width: 10px; height: 10px; border-radius: 50%; background: white;}
.slider_stadictIndicator img{height:20px;}
.partners_home{width: 100%; height: 270px; background: white;}
.partners_home>div{width: 640px; height: 100%; margin: 0 auto;}
.partners_home ul>li{list-style:none;display:inline-block;margin: 20px;}
.partners_home ul>li img{height: 110px; width: 170px;}
.header_partnersHome{margin: 0 auto;padding: 25px 0 0; width: 50%;text-align: center;}
.header_partnersHome span{color: #B1B2B4; font-size: 15px;}
.header_partnersHome h2{width: 200px;background: url('../images/titles.png'); height: 40px; margin-left: 220px; background-position: -220px -120px; background-repeat: no-repeat;}
.header_projectHome{position:relative;}
.header_projectHome>ul{width: 440px; margin: 20px auto;}
.header_projectHome>ul>li{display: inline-block; cursor: pointer; font-family: 'Open Sans', sans-serif; border: 1px solid #4f5862; padding: 4px; text-align: center; background: #4f5862; width: 70px; color: rgb(189, 189, 189); font-size: 13px;}
.header_projectHome>ul>li:hover{background: #F1501A; color: white; border: 1px solid #F1501A;}
.container_projects{width: 810px; height: 400px; margin: 0 auto;}
.mainProject{width: 200px; height: 200px; background: rgb(231, 231, 231);margin:2px 1px 0;float:left;}
.mainProject:nth-child(1){background-image: url('../images/proyects/1.png');}
.mainProject:nth-child(2){background-image: url('../images/proyects/2.png');}
.mainProject:nth-child(3){background-image: url('../images/proyects/4.png');}
.mainProject:nth-child(4){background-image: url('../images/proyects/3.png');}
.mainProject:nth-child(5){background-image: url('../images/proyects/5.png');}
.mainProject:nth-child(6){background-image: url('../images/proyects/6.png');}
.mainProject:nth-child(1) .hover_project{display:block;}
.mainProject:hover  .hover_project{display:block;cursor:pointer;}
.hover_project h3>span{font-family: 'Open Sans', sans-serif; font-weight: bold;}
.hover_project{width: 100%; background: rgba(53, 175, 226, 0.72); height: 100%; font-size: 13px;display:none;color:white;}
.hover_project p{padding: 10px; text-align: justify; letter-spacing: .1px; font-family: 'Open Sans', sans-serif; font-style: italic;}
.starts{width: 100%; height: 30px;padding: 6px 5px 0;font-family: 'Open Sans', sans-serif;}
.starts>li{list-style: none; display: inline-block;height: 20px; background: url('../images/assets.png') 202px 91px; width: 20px;}
.starts>li>img{font-size: 14px; text-align: center; text-transform: capitalize; font-family: 'Open Sans', sans-serif; font-weight: 400; color: rgb(51, 50, 50);}
.starts span{float: right; padding: 5px; font-size: 12px;margin-right: 10px;}
.hover_project h3{text-align: center; padding: 4px 0 0 10px; letter-spacing: .4px; font-family: 'Open Sans', sans-serif; width: 100%; font-weight: inherit; margin-left: -12px;}
.plus_proyects{width: 14%; clear: both; height: 30px; margin: 0 auto; padding-top: 24px;}
.plus_proyects button{width: 150px; padding: 8px;font-family: 'Open Sans', sans-serif; font-weight: 600;border: 1px solid rgb(221, 220, 220); color: rgb(85, 85, 85); font-size: 13px; text-transform: uppercase; cursor: pointer; background: rgb(253, 253, 253);}
.msg_slice{color: #85878A; font-size: 17px; text-transform: inherit; font-style: italic; text-align: center; position: relative; letter-spacing: .4px; top: 12px;}
.msg_author{font-size: 14px;font-weight: 300; text-align: center; text-transform: capitalize; color: rgb(80, 76, 76);}
.msg_author>span{font-size: 12px; text-align: center; text-transform: capitalize; font-family: 'Open Sans', sans-serif; font-weight: 400; color: rgb(177, 175, 175); font-style: italic;}
.steeps_home>div:nth-child(1) .steep_icon{background: url('../images/assets.png') 7px  253px; background-color: #EFEFEF;}
.steeps_home>div:nth-child(2) .steep_icon{background: url('../images/assets.png') 7px  175px; background-color: #EFEFEF;}
.steeps_home>div:nth-child(3) .steep_icon{background: url('../images/assets.png') 7px  344px; background-color: #EFEFEF;}
.steeps_home>div:nth-child(4) .steep_icon{background: url('../images/assets.png') 7px  87px; background-color: #EFEFEF;}
.icon_comment{width: 60px; height: 60px; position: relative; top: 10px; left: 5px; border-radius: 50%;}
.comment_section:nth-child(2) .icon_comment{background: url('../images/assets_hover.png') 215px 332px; background-color: #FFFFFF;}
.comment_section:nth-child(3) .icon_comment{background: url('../images/assets_hover.png') 219px 242px; background-color: #FFFFFF;}
.partnearies_lg:nth.child(1){background: url('../images/assets.png') 219px 242px;}
.left_sliderOne{width: 50%; height: 100%; float: left;position: relative;}
.left_sliderSecond{width: 50%; height: 100%; float: right;position: relative;}
.create_projectHome{width: 320px; background: url('../images/tip_2.png'); height: 110px; position: absolute; right: 156px; bottom: 90px; background-position: -10px; background-size: 340px 160px;}
.nosProyect{width: 320px; background: url('../images/tip_1.png'); height: 110px; position: absolute; right: 160px; bottom: 90px; background-position: -10px; background-size: 340px 160px;}
.create_projectHome h1{font-size: 27px; text-align: center; line-height: .4;margin-top: 27px;font-family: 'Titillium Web', sans-serif;color:rgb(54, 54, 54);}
.create_projectHome h1>span{color:#0077BA;}
.create_projectHome p{line-height: .4; margin-left: 10px; font-size: 16px;font-family: 'Titillium Web', sans-serif;}
.btn_createProject{position: absolute; right: 378px; bottom: 70px; padding: 5px; border-radius: 2px; font-size: 11px; font-family: 'Open Sans', sans-serif; border: 1px solid #096DA5; text-transform: uppercase; background: #0077BA; color: white;}
.lg_sliderHome{position: absolute; left: 44%; bottom: 22%;}
.partnearies_lg:nth-child(2) img{height: 90px; width: 170px; position: relative; top: 15px;}
.partnearies_lg:nth-child(3) img{position: relative; top: -5px;}
.subm_afficher{width: 204px; height: 19px; background: #8AB71B; position: absolute; border: 1px solid #8AB71B; font-weight: 400; top: 119px; right: 210px; list-style: none; border-radius: 3px; font-size: 13px; padding: 4px;}
.subm_afficher a{color: white; text-decoration: none; font-family: 'Open Sans', sans-serif;float:left;cursor:default;}
.arrow-subMenu{float: right; width: 15px; height: 20px; margin-right: -4px; border-left: 1px solid #71A100; background: #71A100; padding: 4px; margin-top: -5px; color: white;cursor:pointer;}
.arrow-subMenu i{margin-left: 4px;}
.stadist_list{width: 330px; height: 40px; margin: 24px   auto 0;}
.top_stadist{width: 100%; height: 25px;}
.top_stadist h2{font-family: 'Titillium Web', sans-serif; color: #2C2E31; font-size: 16px;}
.top_stadist h2>span{float: right; color: #0F84C9; font-family: 'Titillium Web', sans-serif; font-size: 30px; top: -15px; position: relative;}
.bottom_stadist{width: 100%; height: 4px; background: #1A1A1A;}
.bottom_stadist_step{width:0%; height: 100%; background: #FF2F35;}
.bottom_stadist_one{width:0%; height: 100%; background: #FF2F35;}
.bottom_stadist_second{width:0%; height: 100%; background: #FF2F35;}
.footer_stadist{width:100%;height:70px;margin-top:40px;}
.footer_stadist h3{text-align: center; font-family: 'Titillium Web', sans-serif; font-weight: 300; font-size: 30px; color: rgb(88, 88, 88);}
.footer_stadist span{text-align: center; font-family: 'Titillium Web', sans-serif; font-weight: 800; position: relative; font-size: 15px; color: rgb(46, 45, 45); top: -10px;}
.arrow_more{padding: 30px; font-size: 34px !important; font-weight: 300 !important; top: 0 !important;}
.h3_etSur{width: 290px; background: url('../images/subtitles.png'); height: 20px; background-position: 20px -40px; background-repeat: no-repeat;}
.h3_dAvenir{width: 290px; background: url('../images/subtitles.png'); height: 20px; background-position: 60px -5px; background-repeat: no-repeat;}
.h3_economie{width: 295px; background: url('../images/subtitles.png'); height: 19px; background-position: 0px -73px; background-repeat: no-repeat;}
.h3_coface{width: 295px; background: url('../images/subtitles.png'); height: 19px; background-position: 60px -106px; background-repeat: no-repeat;}
/*home*/