.footer_home{width: 100%; height: 340px; background: #191B1F;}
.top_footer{width: 1110px; height: 300px; margin: 0 auto;}
.top_footer>div{width: 100%; height: 100%;}
.cxt_footer{width: 300px; height: 100%; float: left;}
.bottom_footer{width: 100%; height: 45px; background:#0D0E11;}
.infFotter_two{border-bottom: 1px solid rgb(78, 78, 78); padding-bottom: 14px; width: 250px;}
.infFotter_two h2{font-family: 'Titillium Web', sans-serif; font-size: 16px; font-weight: 400; position: relative; color: rgb(238, 238, 238); margin-top: 40px;}
.infFotter_two span{font-size: 12px;font-family: 'Titillium Web', sans-serif;}
.footerInfo_two h2{font-family: 'Titillium Web', sans-serif; font-size: 16px; font-weight: 400; position: relative; color: rgb(238, 238, 238); margin-top: 10px;}
.footerInfo_two span{ font-size: 12px; font-family: 'Titillium Web', sans-serif;}
.infoFooter_3 h2{font-family: 'Titillium Web', sans-serif; font-size: 17px; font-weight: 400; position: relative; color: rgb(238, 238, 238); margin-top: 40px;margin-left: 8px;}
.infoFooter_3 li{letter-spacing: .6px;list-style: none; font-family: 'Titillium Web', sans-serif; font-size: 13px; font-weight: 100; position: relative; color: rgb(238, 238, 238); margin-top: 18px;}
.infoFooter_3 li>span{font-family: 'Titillium Web', sans-serif;}
.infoFooter_3 li>i{padding: 10px; float: left;clear: left; font-size: 20px; position: relative; top: -6px;}
.infoFooter_4 h2{font-family: 'Titillium Web', sans-serif; font-size: 17px; font-weight: 400; position: relative; color: rgb(238, 238, 238); margin-top: 40px;}
.infoFooter_4 span{font-family: 'Titillium Web', sans-serif; font-size: 14px; font-weight: 100; color: rgb(238, 238, 238); position: relative; top: 28px;}
.infoFooter_4 input[type="text"]{margin-top: 40px; border: none; padding: 10px; background: #0D0E11; color: rgb(197, 187, 187); font-family: 'Titillium Web', sans-serif; font-size: 14px;width:200px;}
.infoFooter_4 button{position: relative; border: none; width: 40px; padding: 9.4px; background: #32353B; color: rgb(197, 187, 187); font-family: 'Titillium Web', sans-serif; left: -5px;}
.infoFooter_4 button>i{font-size:20px;}
.footer_btn{width: 1210px; margin: 0 auto;}
.footer_btn div:nth-child(1){font-family: 'Titillium Web', sans-serif; font-size: 15px; font-weight: 100; position: relative; color: rgb(238, 238, 238);float: left;}
.footer_btn div:nth-child(1) span{position: relative; top: 12px; left: 50px; font-family: 'Titillium Web', sans-serif; font-size: 13px;}
.footer_btn div:nth-child(3){float: right; width: 200px;margin-right: 20px;font-size: 12px;}
.footer_btn div:nth-child(3) ul{width:100% !important;}
.footer_btn div:nth-child(3) ul>li{position: relative; top: -10px;}
.arrow_up{float: left; width: 20px; height: 100%; margin-left: 42%; font-weight: 100; color: rgb(156, 156, 156); font-size: 30px;cursor:pointer;}
.arrow_up i{margin-top: 8px;}
.infFotter_one h2{color: white; float: left; font-size: 20px; font-weight: 300; font-family: 'Titillium Web', sans-serif; position: relative; top: 37px;}
.lfFooter{background: url('../images/assets.png') -178px 506px; width: 150px; float: right; height: 60px; position: relative; top: 24px; right: 40px;}
.infFotter_one>h3{color: white; clear: left; font-size: 14px; font-weight: 300; font-family: 'Titillium Web', sans-serif; position: relative; top: 54px; text-decoration: underline;}
.infFotter_one>p{color: white; float: left; width: 220px; font-size: 13px; font-weight: 300; font-family: 'Titillium Web', sans-serif; position: relative; top: 47px;}
.lgApropos{background: url('../images/assets.png') -178px 146px; width: 150px; float: right; height: 90px; position: relative; top: 54px; right: 166px;}
/*Home*/