*{margin:0px;padding:0px;font-family: 'Lato', sans-serif;}
.hd_home{width:100%;height:555px;}
.hd_home>nav{width: 100%; height: 50px; background: #f7f9fa; border-bottom: 1px solid rgb(211, 211, 211); }
.top_navActions{width:1100px;height:100%;margin:0 auto;}
.ls_socialIcons{float: left; width: 17%; height: 100%;}
.ls_socialIcons>li{list-style:none;display:inline-block;}		
.ls_socialIcons>li>a{text-decoration: none; font-size: 20px; color: rgb(187, 187, 187); padding: 24px 8px 0;}
.nav_dataContact{}
.nav_dataContact>li{font-weight: 300;float: left; list-style: none; padding: 10px; font-size: 12px; color: rgb(148, 148, 148); font-family: 'Open Sans', sans-serif;margin-top: 16px;}
.rgh_actionUsers{width:39%;height:100%;float:right;}
.rgh_actionUsers>button{padding: 4px; width: 132px; margin: 8px; letter-spacing: .4px; height: 34px;}
.rgh_actionUsers>button:nth-child(2){background: #2aa1d3; border-radius: 2px; color: white; font-family: 'Open Sans', sans-serif; font-size: 13px; border: 1px solid #228ECE; text-transform: uppercase;}
.rgh_actionUsers>button:nth-child(3){background: #2aa1d3; font-family: 'Open Sans', sans-serif; border: 1px solid #228ECE; border-radius: 2px; color: white; font-size: 13px; margin-left: -4px; text-transform: uppercase;}
.rgh_actionUsers>button  i{color: rgb(22, 22, 22) !important; font-size: 20px; position: relative;}
.rgh_actionUsers>button span{color: white; font-family: 'Open Sans', sans-serif; font-size: 13px; text-transform: uppercase; top: 3px; position: relative;}
.btn_checkUser{width: 140px; height: 30%; float: left; margin-top: 28px;}
.icon_navOne{background: url('../images/assets_hover.png') -5px 566px; width: 20px; height: 24px; float: left;opacity: .5;}
.icon_navSecond{background: url('../images/assets_hover.png') -5px 524px; width: 20px; height: 24px; float: left;opacity: .5;}
.btn_checkUser>label{font-size: 12px; position: relative; top: -4px; color: rgb(148, 148, 148); font-family: 'Open Sans', sans-serif;}
.active_project{background:white !important;}
.active_project:hover{color:rgb(189, 189, 189) !important;}
/**Home**/