.overlay{width:100%;height:100%;background:rgba(0, 0, 0, 0.61);position:fixed;top:0px;display:none;}
.parentOverlay{width: 550px; height: 350px; margin: 0 auto; background: rgba(17, 15, 15, 0.99); position: relative; top: 150px;}
.close{position: absolute;right: 0; top: 0; width: 30px; height: 23px; color: rgb(184, 184, 184); background: rgb(31, 25, 25); font-size: 20px; text-align: center; padding: 2px;cursor:pointer;}